.BTS-jumbo-background{
  background: url("../asset/img/testimoni\ jumbotron\ background.png");
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}